  /* Card Div */

  .CardDiv{
    background-color: var(--bg-clr);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 50px 0px;
    transition: transform .2s;
  }
  
  .CardDiv:hover{
    transform: scale(1.5);
  }
  /* Card*/

  .Card{ 
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #A020F0;
    transition: transform .2s;
   }
   .Card :hover{
    transform: scale(1.5);
    cursor: pointer;


   }
   /* Card Body */

   .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   }

   /* CardImage */

   .CardImage{
    width: 60%;
    margin: 0 auto;
    border-radius: 50%;
    margin: 5px auto;
    transition: transform .2s;
  }
  .CardImage:hover{
    transform: scale(1.5);
  }
